.navbar {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 80px;
    font-size: 16px;
    z-index: 999;
    padding: 0 3rem;
}

.scrolling {
    background-color: rgba(0, 0, 0, 0.96);
    transition: all 0.5s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navbar-brand img {
    height: 45px;
    margin: auto;
}

.navbar-brand i {
    padding: 0 .5rem;
    vertical-align: middle;
}

.navbar-brand:hover {
    color: white;
    transform: scale(0.95)
}

.nav-link {
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    margin: 1rem 0 1rem 3rem;
    padding: 0 !important;
    border-bottom: 0.2rem solid transparent !important;
}

.nav-link:hover {
    color: white;
    font-weight: bold;
}

.nav-link.active {
    border-bottom: 0.2rem solid !important;
}

.toggle-btn {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.toggle-btn i {
    vertical-align: middle;
}

@media only screen and (max-width: 480px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .nav-link {
        font-size: 1rem;
        cursor: pointer;
        color: white;
        margin: 0.5rem;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 0 1rem;
    }

    .navbar-nav {
        display: none;
    }

    #hidden.navbar-nav {
        display: flex;
        position: absolute;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        left: 0px;
        top: 80px;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.96);
        font-size: 18px;
        margin: 0;
    }

    .nav-link {
        font-size: 2rem;
        margin: 2rem !important;
    }

    .nav-link.active {
        border-bottom: 0.2rem solid transparent !important;
    }

    .nav-link:hover {
        font-weight: normal;
        border-bottom: 0.2rem solid !important;
    }

    .btn-show-links {
        display: block;
    }
}

@media only screen and (min-width: 1367px) {
    .navbar {
        padding: 0 5rem;
    }

    .nav-link {
        margin: 1rem 0 1rem 5rem;
        padding: 0 !important;
    }
}