.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    color: white;
    .video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -1;
    }
    h1 {
        font-size: 75px;
    }
    p {
        font-size: 32px;
    }
    @media screen and (max-width: 960px) {
        h1 {
            font-size: 60px;
        }
        > p {
            font-size: 22px;
        }
    }    
}
